/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@forward 'vuetify/settings' with (
  $layers: true,
  $color-pack: false,
  $button-background: #fff434,
  $button-color: #000000,
  $button-border-color: #ffffff,
  $button-border-width: 1px,
  $button-border-radius: 0,
  $button-icon-font-size: 2rem,
);
